.colorpicker {
  width: 400px;
  height: 400px;
  background-color: white;
  flex-direction: column;
  padding: 4px;
  display: flex;
}
.colorpicker-title {
  flex: 0.5;
  display: flex;
}
.colorpicker-title div {
  color: black;
  margin: auto;
}
.canvas {
  background-color: blue;
  max-height: 300px;
  flex: 5;
  margin: 5px;
  display: flex;
}

.colors {
  max-width: 400px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.colors-inner {
  width: 40px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}
.colors-tag {
  opacity: 0.3;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  padding: 2px;
  color: white;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.controls-row {
  display: flex;
  max-width: 400px;
  margin: 5px;
  flex-direction: row;
}
.controls-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.controls-column input {
  flex: 1;
  max-width: 60px;
  margin: auto;
}
.controls-label {
  flex: 1;
  margin: auto;
}
