@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.bgImage {
  height: 100vh;
  width: 100%;
  background: url("images/background.jpg") center center no-repeat;
  background-size: cover;
}

.header {
  background-color: #6d664e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
}
.nav a {
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.nav li {
  margin-left: 20px;
}

.nav a:hover {
  color: #e0f2f1;
  transform: rotate(6deg);
}
body {
  background-color: #b9babc;
}
.about-me {
  background-color: #b9babca1;
  padding: 30px;
}
.hero {
  display: flex;
  justify-content: center;
  min-height: 500px;
}
.hero-inner {
  max-width: 760px;
  margin-top: auto;
}
.header h1 {
  font-weight: normal;
  font-size: 1.5rem;
}
.hero h1 {
  font-weight: normal;
  font-size: 2rem;
  color: #343b43;
  margin: 0;
}
.hero p {
  font-size: 1.18rem;
  color: #343b43;
  line-height: 1.6;
}

.button {
  margin-bottom: 5px;
  background-color: #6d664e;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.18rem;
  display: inline-block;
}

.flex-end-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
