body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
.header {
  background-color: #1687a7;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
}
.nav a {
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.nav li {
  margin-left: 20px;
}

.nav a:hover {
  color: #e0f2f1;
  transform: rotate(6deg);
}
.hero {
  background-color: #d3e0ea;
  padding: 60px 45px;
  display: flex;
  justify-content: center;
}
.hero-inner {
  max-width: 760px;
}
.header h1 {
  font-weight: normal;
  font-size: 1.5rem;
}
.hero h1 {
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
}
.hero p {
  font-size: 1.18rem;
  line-height: 1.6;
}

.button {
  margin-bottom: 5px;
  background-color: #1687a7;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.18rem;
  display: inline-block;
}
